<tr data=<%= tournament.id %>>
  <td><%= link_to tournament.name, admin_tournament_path(tournament) %></td>
  <td><%= tournament.teams_total %></td>
  <% if is_admin? %>
    <td ><span class="txt-delete">Delete</span></td>
  <% end %>
</tr>
