<tr data=<%= tournament.id %>>
  <td><%= link_to tournament.name, admin_tournament_path(tournament) %></td>
  <td><%= tournament.teams.size %></td>
  <% if admin? %>
    <td ><%= link_to 'Destroy', admin_tournament_path(tournament),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
  <% end %>
</tr>
