<% if @tour %>
  <% provide(:title, @tour.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @tour.name %>
        </h1> 
        <h3><%= @tour.teams.size%></h3>
      </section>
    </aside>
  </div>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <% @rounds.each do |round| %>
          <%= round.name %>
          <table>
            <tr>
              <th>Name</th>
              <th>Score</th>
              <th>Win</th>
              <th>Lose</th>
              <th>Draw</th>
            </tr>
            <% ranks = round.ranks.to_a.sort_by { |item| -item.score }%>
              <%= render partial: 'rank', collection: ranks  %>
          </table>
        <% end %>
      </section>
    </aside>
  </div>
<% else %>
  <% provide(:title, 'Not Found') %>
  <h4>Could not found this tournament. Please check again</h4>
<% end %>
