<tr data=<%= player.id %>>
  <td><%= link_to player.name, admin_player_path(player) %></td>
  <td><%= player&.team&.name || "" %></td>
  <% if admin? %>
    <td ><span class="txt-delete">Delete</span></td>
  <% end %>
</tr>
