<%= render 'layouts/admin/tournament_menu'%>
<% if @matches.any? %>
  <% provide(:title, 'All matches') %>

  <h1>List of matches</h1>
  <div class="row">
    <% @matches.each do |match| %>
      <%= render match %>
    <% end %>
  <div>
<% else %>
  <% provide(:title, 'Empty matches') %>
  <h4>No match to show!</h4>
<% end %>
