<% provide(:title, "All post") %>
<div style="float: right">
  <%= link_to(new_admin_post_path) do %>
    <i class="fas fa-plus-square fa-2x"></i>
  <% end %>
</div>
<% if admin? %>
  <h3>All posts</h3>
<% else %>
  <h3>Your posts</h3>
<% end %>
<% if @posts.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
        <% if admin? %>
          <th scope="col">Change</th>
          <th scope="col">Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <%= render post %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
<% else %>
  <div class="row center">
    <h4 style="margin-top: 200px;">You have not any post. Let's create a post!</h4>
  </div>
<% end %>

<script>
  $("body").on("click", ".txt-public", function () {
    var span = this
    id = span.parentNode.parentNode.getAttribute("data")
    $.ajax({
      type: "POST",
      url: "/admin/posts/" +id +"/public",
      data: {},
      success(data){
        var status = data.result ? 'public' : 'private'
        var action = data.result ? 'private' : 'public'
        var tdStatus = span.parentNode.parentNode.querySelector(".status")
        var tdAction = span.parentNode.parentNode.querySelector(".action")
        tdStatus.innerHTML = status;
        tdAction.innerHTML = '<span class="txt-'+ action+ '">'+ action +'</span>';
        console.log(data)
      },
      error(data) {
        console.log(data)
        return false
      }
    })
    }
  );

  $("body").on("click", ".txt-private", function () { 
    var span = this
    id = span.parentNode.parentNode.getAttribute("data")
    $.ajax({
      type: "POST",
      url: "/admin/posts/" +id +"/private",
      data: {},
      success(data){
        var status = data.result ? 'public' : 'private'
        var action = data.result ? 'private' : 'public'
        var tdStatus = span.parentNode.parentNode.querySelector(".status")
        var tdAction = span.parentNode.parentNode.querySelector(".action")
        tdStatus.innerHTML = status;
        tdAction.innerHTML = '<span class="txt-'+ action+ '">'+ action +'</span>';
        console.log(data)
      },
      error(data) {
        console.log(data)
        return false
      }
    })
    }
  );

  var txtDelete = $('.txt-delete')
  txtDelete.click( function (){ 
    var span = this
    elTr = span.parentNode.parentNode
    id = elTr.getAttribute("data")
    $.ajax({
      type: "DELETE",
      url: "/admin/posts/" +id,
      success(data){
        elTr.remove()
      },
      error(data) {
        return false
      }
    })
    }
  );
</script>
