<% if @post %>
  <% provide(:title, @post.title) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @post.title %>
        </h1>
        <h3>
          <%= @post.content %>
        </h3>
        <% if current_user?(@post.user) %>
          <p>
            <%= link_to "Update Post", edit_admin_post_path(@post) %>
          </p>
        <% end %> 
      </section>
    </aside>
  </div>
<% else %>
  <% provide(:title, 'Not Found') %>
  <h4>Could not found this post. Please check again</h4>
<% end %>
