<li>
  <%= link_to user.name, admin_user_path(user) %>
  <% if permissions?("Delete User") %>
    | <%= link_to "delete", admin_user_path(user), method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
