<% provide(:title, "All Users") %>
<div class="jumbotron">
  <div style="float: right">
    <%= link_to(new_admin_user_path) do %>
      <i class="fas fa-plus-square fa-2x"></i>
    <% end %>
  </div>
  <h1>List of users</h1>
  <% if @users.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Total Post</th>
          <% if admin? %>
            <th scope="col">Action</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render user %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, list_classes: %w(pagination justify-content-end) %>
  <% else %>
    <h4>No user to show!</h4>
  <% end %>
</div>