<% if @user %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h1>
          <%= @user.name %>
        </h1>
        <% if current_user?(@user) %>
          <p>
            <%= link_to "Update Profile", edit_admin_user_path(@user) %>
          </p>
        <% end %> 
      </section>
    </aside>
    <aside class="col-md-8">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) %>
      <% end %>
    </aside>
  </div>
<% else %>
  <% provide(:title, 'Not found') %>
  <h4>Could not found page. Please check again.</h4>
<% end %>
