<div class="col-sm-6">
  <div class="card">
    <div class="card-header">
      <h5><%= link_to team.name, admin_team_path(team) %></h5>
    </div>
    <div class="card-body">
      <p class="card-text">Total Member: <%= team.players.size %></p>
      <p class="card-text">Win : 1.</p>
      <% msg = 'Edit info team' %>
      <p class="card-link"><%= link_to msg, edit_admin_team_path(team)%></p>
    </div>
  </div>
</div>
