<li>
  <%= link_to team.name, admin_team_path(team) %>
  <% if admin? %>
    | <%= link_to "delete", admin_team_path(team), method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
